<form class="contact"
      action="https://formspree.io/cidney@cidneyhamilton.com"
      method="POST">

  <p>
  <label for="name">Your Name (or alias):
    <input type="text" name="name" placeholder="Your Name">
  </label>
  </p>

  <p>
  <label for="email">Your Email Address:
    <input type="email" name="_replyto" placeholder="youremail@domain.com">
  </label>
  </p>
  
  <p>
  <label for="message">Your Message To Me:
    <textarea name="message">
    </textarea>
  </label>
  </p>
  
  <div class="buttons">
    <input type="submit" class="button" value="Send Me A Message">
  </div>  
</form>
