<form class="contact"
      action="https://formspree.io/cidney@cidneyhamilton.com"
      method="POST">
  
  <label for="name">Your Name:
    <input type="text" name="name" placeholder="Your Name">
  </label>
  
  <label for="email">Your Email:
    <input type="email" name="_replyto" placeholder="youremail@domain.com">
  </label>
  
  <label for="message">Message:
    <textarea name="message">
    </textarea>
  </label>
  
  <div class="buttons">
    <input type="submit" class="button" value="Send">
  </div>
  
</form>
