// Colors used in the website

// Background and container colors
$lighter-gray: #ccc;
$light-gray: #999;
$darkest-gray: #111;
$dark-gray: #666;

// Pinks are used for links
$dark-pink: #9c1c6b;
$pink: #ca278c;
$light-pink: #e47297;
