label {
	display: block;
	padding: 0 0 .5em;	
}

textarea {
	height: 8em;
}

input {
	-webkit-appearance: textfield;
}

input, textarea {
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	line-height: 1.2;
	padding: .5em;
	font-size: 18px;
}

input[type="text"],
input[type="email"],
textarea {
	height: 2em;
	margin-top: .5em;
}

input[type="submit"] {
	border: 1px dotted #cecece;
	cursor: pointer;
	font-size: 18px;
	margin: 1.2em 0.6em;
	outline: 0;
	padding: .5em;
}

.buttons {
	text-align: right;
}
