html {
    background: black;
}

body {
    background: $lighter-gray;
    color: $darkest-gray;
    font-size: 18px;
    font-family: Libre Baskerville, serif;
    margin: 0;
}

main {
    line-height: 1.6;
    margin: 40px auto;
    max-width: 690px;
    padding: 1em;
    @media screen and (max-width:970px) {
	margin: 12px auto;
    }
}
