// Scalloped border for the header
.scalloped {
	background-position: top center;
	background-size: 100% 124px;
	height: 124px;
	width: 100%;
}

.scalloped-top {
	background-image:url('../images/gray-divide.png');
}

.scalloped-bottom {
	background-image:url('../images/gray-divide-2.png');
}

