---
# Main SASS file, includes all the others
---

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');


body {
	margin: 0;
	font-size: 18px;
}

.bg-black {
	background: #000;
	color: #333;
}

.bg-white {
	background: #eee;
	color: #111;
}

h1, h1, h2 {
	line-height: 1.2em;
}

h1 {
	font-size: 12vw;
	text-align: center;
	font-family: "EB Garamond", Georgia, serif;
}

main {
	margin: 40px auto;
	max-width: 620px;
	line-height: 1.6;
}
